{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'assets/images/logo.jpeg' %}" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">


        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'assets/css/hover.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/demo-page.css' %}">

        <title> My Portfolio </title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav bd-grid">
                {% if home %}
                <a href="#" class="nav__logo">{{ home.name }}</a>
                {%else%}
                <a href="#" class="nav__logo">ayoola</a>
                {% endif %}

                <div class="nav__menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">
                                <i class="bx bx-home-alt"></i>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#about" class="nav__link">
                                <i class="bx bx-user"></i>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#skills" class="nav__link">
                                <i class="bx bx-book"></i>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#work" class="nav__link">
                                <i class="bx bx-briefcase-alt-2"></i>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#contact" class="nav__link">
                                <i class="bx bx-message-square-detail"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Theme change button -->
                <i class="bx bx-moon change-theme" id="theme-button"></i>
            </nav>
        </header>

        <!--=============== MAIN ===============-->
        <main class="l-main">
            <!--=============== HOME ===============-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <div class="home__box">
                        {% if home %}
                        <h1 class="home__title"><span>{{home.greetings_1}}</span><br>{{home.greetings_2}}.</h1>
                        {% else %}
                        <h1 class="home__title"><span>I'm Ayoola</span><br>I'm a dedicated and conscientious developer with great communication skills and excellent professional settings.</h1>
                        {% endif %}
                        
                    <h3 class="home__education">I'M <span class="input"></span></h3>
                    </div>

                    <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll down</a>
                    </div>

                    <!-- <img src="{{ home.picture.url }}" alt="" class="home__img"> -->
                </div>
            </section>
            

                
            <!--=============== ABOUT ===============-->
            <section class="about section" id="about">
                <span class="section__subtitle">My Intro</span>
                <h2 class="section__title">About Me</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        {% if about %}
                        <img src="{{ about.profile_img.url }}" alt="">
                        {% else %}
                        <img src="{% static 'assets/images/2022_04_17_11_28_IMG_2986.JPG' %}" alt="">
                        {% endif %}
                        
                    </div>

                    <div class="about__data">
                        {% if about %}
                        <h2 class="about__subtitle">{{about.heading}}</h2>
                        {% else %}
                        <h2 class="about__subtitle">I'm a Software Developer located in Nigeria.</h2>
                        {% endif %}
                        
                        <div class="about__info">
                            <div class="about__box">
                                <i class="bx bx-award about__icon"></i>
                                <h3 class="about__title">Experience</h3>
                                <span class="about__subtitle">3 Years+ Experience</span>
                            </div>
                            <div class="about__box">
                                <i class="bx bx-briefcase-alt about__icon"></i>
                                <h3 class="about__title">Completed</h3>
                                <span class="about__subtitle">30 + Projects</span>
                            </div>
                            <div class="about__box">
                                <i class="bx bx-support about__icon"></i>
                                <h3 class="about__title">Support</h3>
                                <span class="about__subtitle">Online 24/7</span>
                            </div>
                        </div>
                        {% if about %}
                        <p class="about__description">{{about.description}}</p>
                        {% else %}
                        <p class="about__description">I'm a dedicated and conscientious developer with great communication skills and excellent professional settings. I'm an independent freelancer. I love to code and debug😅.

                            excited by all the challenges inherent in the position and look forward to the opportunities it presents. You can connect with me via my social links.</p>
                        {% endif %}
                        
                        {% if profiles %}
                        <div class="about__social">
                            {% for profiles in profiles.all %}
                            <a href="{{  profiles.link }}" class="about__social-icon"><i class='bx bxl-{{ profiles.social_name}}' ></i></a>
                            {% endfor %} 
                        </div>
                        {% else %}
                        <div class="about__social">
                            <a href="https://www.linkedin.com/in/ayodele-ayoola-78a5341b2" class="about__social-icon"><i class='bx bxl-linkedin' ></i></a>
                            <a href="https://www.twitter.com/techy_ayo" class="about__social-icon"><i class='bx bxl-twitter' ></i></a>
                            <a href="https://www.github.com/creedtech" class="about__social-icon"><i class='bx bxl-github' ></i></a>
                        </div>
                        {% endif %}
                        
                        <a href="#contact" class="hvr-shutter-in-horizontal about__button">Contact Me</a>
                    </div>
                </div>
            </section>

            <!--=============== SKILLS ===============-->
            <section class="skills section" id="skills">
                <span class="section__subtitle">My Skills</span>
                <h2 class="section__title">My Experience</h2>

                {% if categories %}
                <div class="skills__container container grid">
                    {% for category in categories %}
                    <div class="skills__content skills__content-one">
                        <h3 class="skills__title">{{ category.name }}</h3>
                        {% for skills in category.skills_set.all %}
                        <div class="skills__box">
                            <div class="skills__group">
                                <div class="skills__data">
                                    <i class="bx bxs-badge-check"></i>

                                    <div>
                                        <h3 class="skills__name">{{ skills.skill_name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %} 
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="skills__container container grid">
                    <div class="skills__content skills__content-one">
                        <h3 class="skills__title"><i class="bx bxs-badge-check"></i> FRONTEND</h3>
                    </div>
                    <div class="skills__content skills__content-one">
                        <h3 class="skills__title"><i class="bx bxs-badge-check"></i> BACKEND</h3>
                    </div>
                    <div class="skills__content skills__content-one">
                        <h3 class="skills__title"><i class="bx bxs-badge-check"></i> MOBILE</h3>
                    </div>
                    <div class="skills__content skills__content-one">
                        <h3 class="skills__title"><i class="bx bxs-badge-check"></i> WEB</h3>
                    </div>
                </div>
                {% endif %}
                
            </section>

           
            <!--=============== WORK ===============-->
            <section class="work section" id="work">
                <span class="section__subtitle">My Portfolio</span>
                <h2 class="section__title">Recent Works</h2>

                <div class="work__filters">
                    <span class="work__item active-work" data-filter='all'>All</span>
                    <span class="work__item" data-filter='.web'>Web</span>
                    <span class="work__item" data-filter='.mobile'>Mobile</span>
                    <span class="work__item" data-filter='.Console'>Console</span>
                </div>

                {% if portfolios %}
                <div class="work__container bd-grid">
                    {% for portfolio in portfolios %}
                        <div class="work__img mix {{ portfolio.category }}">
                            <img src="{{ portfolio.image.url }}" alt="">
                            <div class="work__link">
                                <a href="{{ portfolio.link }}" class="work__link-name">
                                    {{ portfolio.name }} <i class="bx bx-right-arrow-alt work__icon"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                </div>
                {% else %}
                <div class="work__container bd-grid">
                    <a href="" class="work__link-name">
                        No portfolio Uploaded<i class="bx bx-right-arrow-alt work__icon"></i>
                    </a>
                        <div class="work__img ">
                            <img src="{% static 'assets/images/portfolio/404.png' %}" alt="">
                            <div class="work__link">
                                <a href="" class="work__link-name">
                                    No portfolio Uploaded<i class="bx bx-right-arrow-alt work__icon"></i>
                                </a>
                            </div>
                        </div>
                </div>
                {% endif %}
                
            </section>

            <!--=============== TESTIMONIALS ===============-->
            <section class="testimonial section">
                <span class="section__subtitle">My Clients say</span>
                <h2 class="section__title">Testimonials</h2>

                <div class="testimonial__container container swiper">
                    {% if testimonials %}
                    <div class="swiper-wrapper">
                        {% for testimonial in testimonials %}
                        <div class="testimonial__card swiper-slide">
                            <img src="{{ testimonial.profile_img.url }}" alt="" class="testimonial__img">

                            <h3 class="testimonial__name">{{ testimonial.heading }}</h3>
                            <p class="testimonial__description">
                                {{ testimonial.description }}
                            </p>
                        </div>
                        {% endfor %}

                    </div>
                    {% else %}
                    <div class="swiper-wrapper">
                        <div class="testimonial__card swiper-slide">
                            <a href="" class="testimonial__name">
                            No Testimonials Uploaded
                        </a>
                            <!-- <img src="{{ testimonial.profile_img.url }}" alt="" class="testimonial__img">

                            <h3 class="testimonial__name">{{ testimonial.heading }}</h3>
                            <p class="testimonial__description">
                                {{ testimonial.description }}
                            </p> -->
                        </div>

                    </div>
                    {% endif %}
                    
                    <div class="swiper-pagination"></div>
                </div>
            </section>

            <!--=============== CONTACT ===============-->
            <section class="contact section" id="contact">
                <span class="section__subtitle">Get in Touch</span>
                <h2 class="section__title">Contact Me</h2>

                <div class="contact__container container grid">
                    <div class="contact__content">
                        <h3 class="contact__title">Talk to me</h3>

                        <div class="contact__info">
                            <div class="contact__card">
                                <i class="bx bx-mail-send contact__card-icon"></i>
                                <h3 class="contact__card-title">Email</h3>
                                <span class="contact__card-data">ayodeleayoolaoke4@gmail.com</span>

                                <a href="mailto:ayodeleayoolaoke4@gmail.com" target="_blank" class="contact__button">
                                    Send me a message <i class="bx bx-right-arrow-alt contact__button-icon"></i>
                                </a>
                            </div>

                            <div class="contact__card">
                                <i class="bx bxl-whatsapp contact__card-icon"></i>
                                <h3 class="contact__card-title">Whatsapp</h3>
                                <span class="contact__card-data">+2349137104825</span>

                                <a href="https://api.whatsapp.com/send?phone=+2349137104825&text=Hello, My Name is " target="_blank" class="contact__button">
                                    Send me a message <i class="bx bx-right-arrow-alt contact__button-icon"></i>
                                </a>
                            </div>

                            <div class="contact__card">
                                <i class="bx bxl-messenger contact__card-icon"></i>
                                <h3 class="contact__card-title">Messenger</h3>
                                <span class="contact__card-data">Ayoola Oke</span>

                                <a href="https://m.me/ayoola.oke.96" target="_blank" class="contact__button">
                                    Send me a message <i class="bx bx-right-arrow-alt contact__button-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="contact__content">
                        <h3 class="contact__title">Write me your project</h3>

                        <form method="post"  class="contact__form" novalidate>
                            {% csrf_token %}

                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}

                            {% for field in form.visible_fields %}
                                <div class="contact__form-div">
                                    <label for="{{ field.id_for_label }}" class="contact__form-tag">{{field.label_tag}}</label>

                                    {% if form.is_bound %}
                                        {% if field.errors %}
                                            {% render_field  field  class="contact__form-input is-invalid" %}
                                            {% for error in field.errors %}
                                                <div style="position: absolute;right: 0;bottom:0; color:red;">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class="contact__form-input is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field  %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button class="hvr-shutter-in-horizontal contact__send">Send Message</button>

                        </form> 

                    </div>
                </div>
            </section>
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">
                <h1 class="footer__title">Lazy Programmer</h1>
                    <ul class="footer__list">
                        <li><a href="#home" class="footer__link">Home</a></li>
                        <li><a href="#about" class="footer__link">About</a></li>
                        <li><a href="#skills" class="footer__link">Skills</a></li>
                        <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                        <li><a href="#Contact" class="footer__link">Contact</a></li>
                    </ul>

                    <ul class="footer__social">
                        <a href="https://www.facebook.com/ayoola.oke.96" target="_blank" class="footer__social-link">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="https://www.github.com/creedtech" target="_blank" class="footer__social-link">
                            <i class="bx bxl-github"></i>
                        </a>
                        <a href="https://www.twitter.com/techy_ayo" target="_blank" class="footer__social-link">
                            <i class="bx bxl-twitter"></i>
                        </a>
                    </ul>

                    <span class="footer__copy">
                        &#169; Lazy Programmer, All Rights Reserved.
                    </span>
            </div>
        </footer>

<!--=============== SCROLLREVEAL ===============-->
<script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>

<!--=============== MIXITUP FILTER ===============-->
<script src="{% static 'assets/js/mixitup.min.js' %}"></script>

<!--=============== SWIPER JS ===============-->
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>

<script src="{% static 'assets/js/main.js' %}"></script>




        <!--=============== TYPED JS ===============-->
        <script src="{% static 'assets/js/typed.js' %}"></script>

        <!--=============== MAIN JS ===============-->
        <script>
            var typed = new Typed(".input", {
                strings:["A Web Developer.", "A Mobile Developer.", "A Full Stack Developer.","A Python Dev.", "An Asp.net Developer.", "AND A Flutter Lover."],
                typeSpeed: 70,
                backSpeed: 60,
                loop: true
            });
            
        </script>
    </body>
</html>